/*** 
YAY
***/


/*** Header ***/

#header {
  background: #773B6E; /* for non-css3 browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#A36D9B), to(#773B6E)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #A36D9B,  #773B6E); /* for firefox 3.6+ */
  width:750px;
  margin: 1.5px ;
  padding: 30px;
  margin-bottom: 15px;
  border: 0px solid #333333; 
  border-radius:15px;
  -moz-border-radius:15px; /* Firefox 3.6 and earlier */
}

#header h1 {
  font: 50px Allerta;
  color: #453A44;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  margin: 0;
  letter-spacing: 3px;

}

#header h2 { 
  margin: 0;
  color: #333333;
  font-size: 1.2em;
} 



/*** Body ***/

body {
  margin: 0;
  background: #7F7F7F; 
  font-family: Allerta, sans-serif;
  font-size: 1em;
}

#wrapper {
  width: 950px;
  margin: 0 auto;
}

p {
  line-height: 1.5em;
  color: #333333;
}

.pic {
  margin-bottom: 20px; 
  border:1px solid;
  border-radius:15px;
  -moz-border-radius:15px; /* Firefox 3.6 and earlier */
}



/*** Content ***/

#content {
  float: left;
  background: #DEDEDE;
  padding: 15px;
  margin: 50px;  
  border-radius:15px;
  -moz-border-radius:15px; /*** Firefox 3.6 > ***/
  }

#content .post {
  list-style: none;
  width: 455px;
  background: #BDBDBD;
  padding: 35px;
  margin-bottom: 10px;
  border: 1px solid #333333;
  border-radius:15px;
  -moz-border-radius:25px; /*** Firefox 3.6 > ***/
}

#content .post h3 {
  margin: 0;
  color: #966696;
}

a:link {text-decoration: none;color:#584159;}      /* unvisited link PURPLE*/
a:visited {text-decoration: none;color:#7A797A;}  /* visited link gray    DOES NOT WORK IN moz */
a:hover {text-decoration: none; color:#C91EC9;}    /* mouse over link PINK*/
a:active {text-decoration: none;color:#F5D60C;}   /* selected link YELLOW */ 



/*** Sidebar ***/

#sidebar {
  float:right; 
  width: 250px;
  padding: 0px 15px;
}

#sidebar h3 {
  color: #966696;
  padding-top: 5px; 
}

#sidebar p {
  line-height: 1.5em;
  color: #333333;
  margin: 40px 0px;

}

#sidebar .section {
  padding-bottom: 15px; 
}

#sidebar .section {
  border-top: 2px solid #CCC;
  padding-top: 10px;
}

#sidebar .section:first-child {
  border-top: none;
  padding: 0;
}

.btn {
  color: #333333;
  background: #bdbdbd; /* for non-css3 browsers */
  background: -webkit-gradient(linear, left top, left bottom, from(#bdbdbd), to(#7e7e7e)); /* for webkit browsers */
  background: -moz-linear-gradient(top,  #bdbdbd,  #7e7e7e); /* for firefox 3.6+ */
  padding: 15px 35px;
  margin: 40px 40px;
  border:1px solid;
  border-radius: 15px;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #F5D60C;
}



/*** Nav ***/

#nav {
  list-style: none;
}

#nav li {
  font-size: 1.2em;
  font-weight: bold;
}






